---
http_interactions:
- request:
    method: get
    uri: https://api.pexels.com/v1/search?query=animals
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<PEXEL_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"573fdb25fab6f40c738876ee31f88c8a"
      X-Ratelimit-Limit:
      - '20000'
      X-Ratelimit-Remaining:
      - '19999'
      X-Ratelimit-Reset:
      - '1581047631'
    body:
      encoding: ASCII-8BIT
      string: '{"total_results":9722,"page":1,"per_page":15,"photos":[{"id":45170,"width":2400,"height":1334,"url":"https://www.pexels.com/photo/kitten-cat-rush-lucky-cat-45170/","photographer":"Pixabay","photographer_url":"https://www.pexels.com/@pixabay","photographer_id":2659,"src":{"original":"https://images.pexels.com/photos/45170/kittens-cat-cat-puppy-rush-45170.jpeg","large2x":"https://images.pexels.com/photos/45170/kittens-cat-cat-puppy-rush-45170.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940","large":"https://images.pexels.com/photos/45170/kittens-cat-cat-puppy-rush-45170.jpeg?auto=compress&cs=tinysrgb&h=650&w=940","medium":"https://images.pexels.com/photos/45170/kittens-cat-cat-puppy-rush-45170.jpeg?auto=compress&cs=tinysrgb&h=350","small":"https://images.pexels.com/photos/45170/kittens-cat-cat-puppy-rush-45170.jpeg?auto=compress&cs=tinysrgb&h=130","portrait":"https://images.pexels.com/photos/45170/kittens-cat-cat-puppy-rush-45170.jpeg?auto=compress&cs=tinysrgb&fit=crop&h=1200&w=800","landscape":"https://images.pexels.com/photos/45170/kittens-cat-cat-puppy-rush-45170.jpeg?auto=compress&cs=tinysrgb&fit=crop&h=627&w=1200","tiny":"https://images.pexels.com/photos/45170/kittens-cat-cat-puppy-rush-45170.jpeg?auto=compress&cs=tinysrgb&dpr=1&fit=crop&h=200&w=280"},"liked":false},{"id":66898,"width":1920,"height":1280,"url":"https://www.pexels.com/photo/elephant-cub-kenya-savanna-66898/","photographer":"Pixabay","photographer_url":"https://www.pexels.com/@pixabay","photographer_id":2659,"src":{"original":"https://images.pexels.com/photos/66898/elephant-cub-tsavo-kenya-66898.jpeg","large2x":"https://images.pexels.com/photos/66898/elephant-cub-tsavo-kenya-66898.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940","large":"https://images.pexels.com/photos/66898/elephant[...]
